{% extends "base.html" %}
{% load django_tables2 %}


 {% block content %}
  
  {% render_table table %}
	<div class="mdl-cell mdl-cell--12-col">
 	<table class="striped centered">
        <thead>
          <tr>
              <th data-field="id">Camiones</th>
              <th data-field="name">Fecha</th>
              <th data-field="price">Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>
	</div>

  <table>
    <thead><tr><th>Normal</th><th>Upper</th></tr></thead>
    <tbody><tr><td>Hi there!</td><td>HI THERE!</td></tr></tbody>
  </table>


 {% endblock content %}